@import "tailwindcss";

body {
  padding-top: 5rem;
  /* Same height as navbar (h-20 = 5rem) */
}

@theme {
  /* colors */
  --primary-color: #18013a;
  --secondary-color: #9328ff;
  --tertiary-color: #e8d4ff;
  --primary-text-color: #241f21;
  --secondary-text-color: #ffffff;
  --coloured-text-color: #7b05b2;
  --link-color: #9429ff;
  --coloured-light-bg: #E8D2F4;
  --coloured-dark-highlight: #d1a8e4;
  /* services font size */
  --text-tiny: clamp(0.375rem, 0.25rem + 0.5vw, 0.75rem);
  --text-tiny--line-height: 1.5em;
  --text-tiny--letter-spacing: 3px;
  --text-tiny--font-weight: 800;
  /* custom animations */
  --animate-bounce: bounce 1.2s ease-in-out infinite;

  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-6px);
    }

  }
}

.marquee {
  margin-inline: auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  transition: all;
}

.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
  transition: all;
}

.marquee2 div {
  animation-delay: 9s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  font-family: var(--font-poppins), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.active {
  color: var(--secondary-color);
}

.filtered-tertiary-color {
  filter: brightness(0) saturate(100%) invert(84%) sepia(21%) saturate(896%) hue-rotate(202deg) brightness(102%) contrast(101%);
}