.about-us {
    .text-section {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeUp 1s ease-out forwards;
    }

    .image-section {
        opacity: 0;
        transform: scale(0.95);
        animation: fadeZoom 1s ease-out 0.4s forwards;
    }

    .cta-button {
        background-color: var(--tertiary-color);
        color: var(--primary-color);

        &:hover {
            transform: translateY(-3px) scale(1.05);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeZoom {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.about-image-wrapper {
    opacity: 0;
    transform: scale(0.8) rotate(-5deg);
    animation: fadeInZoomRotate 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fadeInZoomRotate {
    0% {
        opacity: 0;
        transform: scale(0.8) rotate(-5deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.floating-image {
    animation: floatUpDown 4s ease-in-out infinite;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}